    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }
 
    :root{
        --primaire-color:#F0F4F7;
        --seconaire-color:#FFFF;
        --ternaire-color:#1E9661;
        --quatairnaie-color:#013932;
        --quintal-color:#F98B01;
        --sixaine-color:#84939D;
    } 
    body{
        display: flex;
        height: 100vh;
        background-color: var(--primaire-color);
        justify-content: center;
        align-items: center;
    }

    .page1{
        display: flex;
        background-color: var(--seconaire-color);
        height: 90%;
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 0 2px;
        
    }
    .seconecter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        background-color:var(--seconaire-color);
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        gap: 10px;
        
    }
    .ulusta{
        display: flex;
        flex: 2;
        border-radius: 10px;
        background-image: url("../public/images/ulusta.png");
        background-size: cover;  
        background-position: center;
        background-repeat: no-repeat;
     
        
    }
    h2{
        color: var(--quatairnaie-color);
    }
    .p{
        color: var(--sixaine-color);
        text-align: center;
    }
    input{
        display: flex;
        width: 90%;
        margin-left:6%;
        padding: 10px;
        height: 7%;
        border: 1px #84939D solid;
        border-radius: 5px;
        color: #84939D;
    }
    .souvenir{
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    button{
        display: flex;
        width: 90%;
        height: 7%;
        margin-left:6%;
        padding: 10px;
        border-radius: 5px;
        background-color: var(--ternaire-color);
        justify-content: center;
        color: #F0F4F7;
        border: none;
    }
       #insc{
        color: #013932;
        display: center;
        align-self:self-end;
        margin-right: 5%;
        color: #1E9661; 
    }
